# All files that are not required for the building stage

Dockerfile
gradlew.bat
build




# Secret files are not required

.dockerignore
.gitignore




# Fakin windows.. cannot handle long path names.. what a nightmare
.cache/caches/modules-2/files-2.1/org.springframework.security.oauth.boot/spring-security-oauth2-autoconfigure/




# Exclude unnecessery files from cache

.cache/caches/modules-2/modules-2.lock
.cache/caches/journal-1/journal-1.lock
.cache/caches/transforms-1/transforms-1.lock
.cache/caches/4.10.2
.cache/daemon
.cache/native
.cache/notifications
.cache/wrapper/dists/*/*/*
!.cache/wrapper/dists/*/*/*.zip
